body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  section {
    border: 1px solid #140505;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  #button-container button {
    margin-right: 10px;
  }
  